@import "~/variables";

.header {
    height: 64px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-items: flex-start;
    position: -webkit-sticky;
    position:sticky;
    top:0;
    border-bottom: 1px solid #d9d9d9;
    z-index: 2;
    a {
        text-decoration: none;
        .logo {
            max-height: 44px;
            padding: 0 30px ;
            h1 {
                margin:0;
                font-size: 24px;
                font-weight: 700;
                line-height: 1.1;
            }
        }
    }
    .nav {
        flex: 1;
        display: flex;
        gap: 30px;
        justify-items: center;
        align-items: center;
        justify-content: center;
        list-style:none;
        .navItem {  
            position:relative;          
            > a {
                text-decoration: none;
                transition: border .25s ease;
                border: 1px solid inherit;
                padding: 10px 25px;
                margin: 0;
                font-size: .9rem;
                &.selected {
                    border: 1px solid white;
                }
            }
            .subMenuBridge {
                position: absolute;
                width: 100%;
                height: 1rem;
                bottom: -1.4rem;
                left: 0;
                display: block;
            }
            .subMenu {
                background: #ffffff;
                position: absolute;
                top: 2.6rem;
                display: none;
                flex-direction: column;
                gap: 15px;
                padding: 2rem 4.5rem 2rem 1.5rem;
                white-space: nowrap;
                a{
                    color: #000000;
                    text-decoration: none;
                    &.selected {
                        text-decoration: underline;
                        font-weight: 700;
                    }
                }
            } 
            &:hover {
               .subMenu {
                display: flex;
               } 
            }
            @include phone {
                display:none;
            }
            @include tablet {
                display: none;
            }
            
        }
    }
    .rightBar {
        padding: 0 30px ;
        border-left: 1px solid #d9d9d9;
        display:flex;
        gap: 25px;
        .socialLink {
            @include tablet {
                display: none;
            }
            @include phone {
                display:none;
            }
        }
        .searchButton {
            background: none;
            border: none;
            padding: 0;
            font-size: 15px;
            cursor: pointer;
        }
        .cartIcon {
            position: relative;
            span {
                position: absolute;
                top: -10px;
                background: #1954EB;
                display: flex;
                right: -15px;
                min-width: 11px;
                height: 15px;
                border-radius: 8px;
                justify-content: center;
                align-items: center;
                justify-items: center;
                font-size: 10px;
                color: #ffffff;
                padding: 2px 4px;
            }
        }
    }
}