$primary: #1954EB;
$primary-dark: #0034BB;
$primary-darker: #00278B;
$tablet-width: 768px;
$desktop-width: 1024px;
$fourk-width: 1920px;

@mixin phone {
  @media (min-width: 100px) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width + 1px}) and (max-width: #{$fourk-width - 1px}) {
    @content;
  }
}

@mixin fourk {
  @media (min-width: #{$fourk-width}) {
    @content;
  }
}
